<a href="https://colab.research.google.com/github/aliprg0/google_colab/blob/main/App.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [268]:
!pip install yfinance
import yfinance as yf   
import pandas as pd
import numpy as np

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)

In [269]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,LSTM
from tensorflow.keras.layers import Dropout
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC

In [270]:
#symbols = ["MSFT","AAPL","GOOG","TSLA","BTC-USD","LTC-USD","TRX-USD","GGPI","BIM","AI","AMZN"]
symbols = ["BTC-USD","LTC-USD","TRX-USD","XRP-USD","ETH-USD","BNB-USD","DASH-USD","VET-USD","LINK-USD","ADA-USD","DOT-USD"]
#symbols = ["AAPL"]

dfs = []
for i in symbols:
   data = yf.download(i,period="MAX",interval="1d")
   dfs.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [271]:
for df in dfs:
  print(df.isnull().sum(),end=" ")
  print(df.shape)

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (2761, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (2761, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1345, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (1612, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64 (541, 6)

In [272]:
print(dfs[0])

                    Open          High           Low         Close  \
Date
2014-09-17    465.864014    468.174011    452.421997    457.334015
2014-09-18    456.859985    456.859985    413.104004    424.440002
2014-09-19    424.102997    427.834991    384.532013    394.795990
2014-09-20    394.673004    423.295990    389.882996    408.903992
2014-09-21    408.084991    412.425995    393.181000    398.821014
...                  ...           ...           ...           ...
2022-04-04  46445.273438  46791.089844  45235.816406  46622.675781
2022-04-05  46624.507812  47106.140625  45544.808594  45555.992188
2022-04-06  45544.355469  45544.355469  43193.953125  43206.738281
2022-04-07  43207.500000  43860.699219  42899.906250  43503.847656
2022-04-08  43442.605469  43887.855469  42911.308594  43615.015625

               Adj Close       Volume
Date
2014-09-17    457.334015     21056800
2014-09-18    424.440002     34483200
2014-09-19    394.795990     37919700
2014-09-20    408.903992     36863600
2014-09-21    398.821014     26580100
...                  ...          ...
2022-04-04  46622.675781  32499785455
2022-04-05  45555.992188  29640604055
2022-04-06  43206.738281  39393395788
2022-04-07  43503.847656  26101973106
2022-04-08  43615.015625  23330351104

[2761 rows x 6 columns]

In [279]:
fixed_dfs = []
for df in dfs:
    full = []
    df = np.array(df)
    for i in range(15, df.shape[0]-1):
        fifteen_days_ago = i-15
        fourteen_days_ago = i-14
        thirteen_days_ago = i-13
        twelve_days_ago = i-12
        eleven_days_ago = i-11
        ten_days_ago = i-10
        nine_days_ago = i-9
        eight_days_ago = i-8
        seven_days_ago = i-7
        six_days_ago = i-6
        five_days_ago = i-5
        four_days_ago = i-4
        three_days_ago = i-3
        two_days_ago = i - 2
        yesterday = i - 1
        today = i
        tomorrow = i + 1
        if df[tomorrow][3] > df[today][3]:
            future = 1
        else:
            future = 0


        new_lst = [df[fifteen_days_ago][3],df[fourteen_days_ago][3],df[thirteen_days_ago][3],df[twelve_days_ago][3],df[eleven_days_ago][3],
                   df[ten_days_ago][3], df[nine_days_ago][3], df[eight_days_ago][3], df[seven_days_ago][3], df[six_days_ago][3],
                   df[five_days_ago][3], df[four_days_ago][3], df[three_days_ago][3], df[two_days_ago][3], df[yesterday][3],
                   df[today][3], future]

        full.append(new_lst)


    fuu = np.array([full])
    lst = []
    for i in range(0, fuu.shape[1]):
        lst.append(fuu[0][i])
    
    mm = np.array(lst)


    column_names = ["fifteen_days_ago","fourteen_days_ago","thirteen_days_ago","twelve_days_ago","eleven_days_ago",
                      "ten_days_ago", "nine_days_ago", "eight_days_ago", "seven_days_ago", "six_days_ago",
                       "five_days_ago", "four_days_ago", "three_days_ago", "two_days_ago", "yesterday", 
                        "today", "result"]
    
    cnwr = ["fifteen_days_ago","fourteen_days_ago","thirteen_days_ago","twelve_days_ago","eleven_days_ago",
                      "ten_days_ago", "nine_days_ago", "eight_days_ago", "seven_days_ago", "six_days_ago",
                       "five_days_ago", "four_days_ago", "three_days_ago", "two_days_ago", "yesterday", 
                        "today"]
    dff = pd.DataFrame(mm, columns=column_names)
    
    scaler = MinMaxScaler()
    xx = dff["result"]
    dff = dff.drop(["result"],axis=1)
    scaled = pd.DataFrame(scaler.fit_transform(dff.T).T, columns=cnwr)

    scaled["result"] = xx
       
    fixed_dfs.append(scaled)

In [280]:
for i in fixed_dfs:
  print(i.shape)

(2745, 17)
(2745, 17)
(1596, 17)
(1596, 17)
(1596, 17)
(1596, 17)
(1596, 17)
(1329, 17)
(1596, 17)
(1596, 17)
(525, 17)

In [281]:
data = fixed_dfs[0]
for i in range(1,len(symbols)):
  data = pd.concat([data,fixed_dfs[i]], ignore_index = True)

In [282]:
data

,fifteen_days_ago,fourteen_days_ago,thirteen_days_ago,twelve_days_ago,eleven_days_ago,ten_days_ago,nine_days_ago,eight_days_ago,seven_days_ago,six_days_ago,five_days_ago,four_days_ago,three_days_ago,two_days_ago,yesterday,today,result
0,1.000000,0.600131,0.239770,0.411271,0.288700,0.329192,0.738117,0.585118,0.443729,0.356823,0.297197,0.025638,0.004802,0.144319,0.103851,0.000000,0.0
1,0.851191,0.462565,0.647518,0.515332,0.559001,1.000000,0.835000,0.682521,0.588799,0.524496,0.231637,0.209167,0.359627,0.315985,0.203988,0.000000,0.0
2,0.616600,0.748543,0.654244,0.685396,1.000000,0.882291,0.773514,0.706654,0.660781,0.451859,0.435829,0.543166,0.512032,0.432135,0.286612,0.000000,0.0
3,0.766770,0.679306,0.708200,1.000000,0.890823,0.789931,0.727917,0.685369,0.491590,0.476722,0.576279,0.547402,0.473296,0.338321,0.072484,0.000000,1.0
4,0.679306,0.708200,1.000000,0.890823,0.789931,0.727917,0.685369,0.491590,0.476722,0.576279,0.547402,0.473296,0.338321,0.072484,0.000000,0.083006,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18511,0.432286,0.435139,0.729767,0.901981,1.000000,0.059502,0.161047,0.100026,0.000000,0.095426,0.262285,0.231084,0.255399,0.479157,0.424032,0.467922,1.0
18512,0.435139,0.729767,0.901981,1.000000,0.059502,0.161047,0.100026,0.000000,0.095426,0.262285,0.231084,0.255399,0.479157,0.424032,0.467922,0.535105,0.0
18513,0.729767,0.901981,1.000000,0.059502,0.161047,0.100026,0.000000,0.095426,0.262285,0.231084,0.255399,0.479157,0.424032,0.467922,0.535105,0.403365,1.0
18514,0.901981,1.000000,0.059502,0.161047,0.100026,0.000000,0.095426,0.262285,0.231084,0.255399,0.479157,0.424032,0.467922,0.535105,0.403365,0.431989,1.0
18515,1.000000,0.059502,0.161047,0.100026,0.000000,0.095426,0.262285,0.231084,0.255399,0.479157,0.424032,0.467922,0.535105,0.403365,0.431989,0.698248,1.0

In [283]:
data = data.dropna()

In [284]:
X = data.drop("result",axis=1)
xTrain, xTest, yTrain, yTest = train_test_split(X, data["result"], test_size=0.1,random_state=11)

print(xTrain.shape)
print(yTrain.shape)

print(xTest.shape)
print(yTest.shape)

(16664, 16)
(16664,)
(1852, 16)
(1852,)

In [285]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(xTrain,yTrain)
clf.score(xTest,yTest)

0.6144708423326134

In [286]:
logisticRegr = LogisticRegression()
logisticRegr.fit(xTrain, yTrain)
logisticRegr.score(xTest, yTest)

0.5367170626349892

In [287]:
svm = SVC()
svm.fit(xTrain,yTrain)
svm.score(xTest,yTest)

0.576133909287257

In [288]:
from sklearn.neighbors import NearestCentroid
nc = NearestCentroid()
nc.fit(xTrain,yTrain)
nc.score(xTest,yTest)

0.49838012958963285

In [289]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(xTrain, yTrain).score(xTest,yTest)

0.509719222462203

In [290]:
from sklearn import tree
tree = tree.DecisionTreeClassifier()
tree.fit(xTrain, yTrain)
tree.score(xTest,yTest)

0.550755939524838

In [291]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
   max_depth=1, random_state=0).fit(xTrain, yTrain)
gb.score(xTest, yTest)

0.5464362850971922

In [292]:
from sklearn.neighbors import KNeighborsClassifier
clf2 = KNeighborsClassifier(n_neighbors=7)
clf2.fit(xTrain, yTrain)
clf2.score(xTest,yTest)

0.6214902807775378

In [297]:
model = Sequential()
model.add(Dense(256, activation='relu', kernel_initializer='he_normal', input_shape=(16,)))
model.add(Dropout(0.2))
model.add(Dense(256, activation='relu', kernel_initializer='he_normal'))
model.add(Dropout(0.2))
model.add(Dense(256, activation='relu', kernel_initializer='he_normal'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

model.summary()

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_67 (Dense)            (None, 512)               8704

 dropout_50 (Dropout)        (None, 512)               0

 dense_68 (Dense)            (None, 512)               262656

 dropout_51 (Dropout)        (None, 512)               0

 dense_69 (Dense)            (None, 1)                 513

=================================================================
Total params: 271,873
Trainable params: 271,873
Non-trainable params: 0
_________________________________________________________________

In [299]:
model.fit(xTrain,yTrain,epochs=30,batch_size=25,validation_data=(xTest,yTest))

Epoch 1/30
667/667 [==============================] - 7s 10ms/step - loss: 0.6403 - accuracy: 0.6238 - val_loss: 0.6903 - val_accuracy: 0.5691
Epoch 2/30
667/667 [==============================] - 5s 8ms/step - loss: 0.6298 - accuracy: 0.6393 - val_loss: 0.6628 - val_accuracy: 0.6064
Epoch 3/30
667/667 [==============================] - 4s 6ms/step - loss: 0.6219 - accuracy: 0.6456 - val_loss: 0.6650 - val_accuracy: 0.5988
Epoch 4/30
667/667 [==============================] - 5s 8ms/step - loss: 0.6124 - accuracy: 0.6578 - val_loss: 0.6518 - val_accuracy: 0.6156
Epoch 5/30
667/667 [==============================] - 6s 9ms/step - loss: 0.6034 - accuracy: 0.6647 - val_loss: 0.6544 - val_accuracy: 0.6139
Epoch 6/30
667/667 [==============================] - 5s 7ms/step - loss: 0.5922 - accuracy: 0.6791 - val_loss: 0.6591 - val_accuracy: 0.6112
Epoch 7/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5855 - accuracy: 0.6842 - val_loss: 0.6542 - val_accuracy: 0.6237
Epoch 8/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5760 - accuracy: 0.6916 - val_loss: 0.6567 - val_accuracy: 0.6145
Epoch 9/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5641 - accuracy: 0.6992 - val_loss: 0.6650 - val_accuracy: 0.6323
Epoch 10/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5560 - accuracy: 0.7051 - val_loss: 0.6621 - val_accuracy: 0.6204
Epoch 11/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5473 - accuracy: 0.7151 - val_loss: 0.6573 - val_accuracy: 0.6307
Epoch 12/30
667/667 [==============================] - 4s 7ms/step - loss: 0.5437 - accuracy: 0.7182 - val_loss: 0.6507 - val_accuracy: 0.6371
Epoch 13/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5359 - accuracy: 0.7236 - val_loss: 0.6582 - val_accuracy: 0.6312
Epoch 14/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5211 - accuracy: 0.7328 - val_loss: 0.6502 - val_accuracy: 0.6506
Epoch 15/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5131 - accuracy: 0.7426 - val_loss: 0.6461 - val_accuracy: 0.6582
Epoch 16/30
667/667 [==============================] - 4s 6ms/step - loss: 0.5087 - accuracy: 0.7429 - val_loss: 0.6554 - val_accuracy: 0.6382
Epoch 17/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4986 - accuracy: 0.7507 - val_loss: 0.6730 - val_accuracy: 0.6388
Epoch 18/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4922 - accuracy: 0.7551 - val_loss: 0.6530 - val_accuracy: 0.6501
Epoch 19/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4835 - accuracy: 0.7616 - val_loss: 0.6762 - val_accuracy: 0.6458
Epoch 20/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4788 - accuracy: 0.7615 - val_loss: 0.6582 - val_accuracy: 0.6512
Epoch 21/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4714 - accuracy: 0.7702 - val_loss: 0.6648 - val_accuracy: 0.6544
Epoch 22/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4612 - accuracy: 0.7750 - val_loss: 0.6691 - val_accuracy: 0.6609
Epoch 23/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4550 - accuracy: 0.7784 - val_loss: 0.6822 - val_accuracy: 0.6371
Epoch 24/30
667/667 [==============================] - 5s 7ms/step - loss: 0.4493 - accuracy: 0.7865 - val_loss: 0.6748 - val_accuracy: 0.6544
Epoch 25/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4400 - accuracy: 0.7884 - val_loss: 0.6885 - val_accuracy: 0.6420
Epoch 26/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4359 - accuracy: 0.7943 - val_loss: 0.6958 - val_accuracy: 0.6371
Epoch 27/30
667/667 [==============================] - 4s 7ms/step - loss: 0.4272 - accuracy: 0.7971 - val_loss: 0.6818 - val_accuracy: 0.6625
Epoch 28/30
667/667 [==============================] - 4s 7ms/step - loss: 0.4217 - accuracy: 0.8016 - val_loss: 0.6889 - val_accuracy: 0.6409
Epoch 29/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4168 - accuracy: 0.8048 - val_loss: 0.6836 - val_accuracy: 0.6636
Epoch 30/30
667/667 [==============================] - 4s 6ms/step - loss: 0.4113 - accuracy: 0.8055 - val_loss: 0.7079 - val_accuracy: 0.6506