In [5]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
Successfully installed requests-2.28.1 yfinance-0.1.74

In [9]:
import yfinance as yf

In [67]:
data = yf.download("btc-usd",period="100d",interval="1h")

[*********************100%***********************]  1 of 1 completed

In [68]:
data

,Open,High,Low,Close,Adj Close,Volume
2022-04-25 00:00:00+00:00,39472.605469,39487.976562,38919.621094,38919.621094,38919.621094,0
2022-04-25 01:00:00+00:00,38908.238281,39084.804688,38812.457031,39070.316406,39070.316406,5042493440
2022-04-25 02:00:00+00:00,39083.812500,39115.917969,39014.625000,39070.125000,39070.125000,1871507456
2022-04-25 03:00:00+00:00,39078.796875,39251.855469,39078.796875,39245.734375,39245.734375,258422784
2022-04-25 04:00:00+00:00,39245.867188,39252.429688,39131.132812,39166.953125,39166.953125,193044480
...,...,...,...,...,...,...
2022-08-02 09:00:00+00:00,22827.187500,22844.921875,22716.599609,22737.595703,22737.595703,437989376
2022-08-02 10:00:00+00:00,22737.546875,22860.355469,22712.753906,22843.574219,22843.574219,134658048
2022-08-02 11:00:00+00:00,22859.486328,22959.447266,22859.486328,22898.341797,22898.341797,83908608
2022-08-02 12:00:00+00:00,22895.896484,22912.351562,22792.720703,22802.046875,22802.046875,76075008
2022-08-02 12:49:00+00:00,22781.169922,22781.169922,22781.169922,22781.169922,22781.169922,0

In [12]:
import numpy as np

In [69]:
x = []
data = np.array(data)
for i in range(2,1000):
   x.append(abs(data[-i][3]-data[-i][0]))

In [ ]:
x

In [71]:
sum(x)/len(x)

99.64650003131263

In [29]:
x = x +1

In [31]:
lst

[]

In [32]:
lst.append("amir")

In [33]:
lst

['amir']

In [34]:
lst.append(183838)

In [35]:
lst

['amir', 183838]

In [36]:
lst[0]

'amir'

In [26]:
x

[-20.890625,
 38.85546875,
 106.02734375,
 -89.591796875,
 -73.03125,
 16.220703125,
 21.51171875,
 8.201171875,
 6.94140625]

In [22]:
print(123)

123

In [19]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
data = np.array(data)